.italic {
    font-style: italic;
}
body {
    background-color: rgb(226, 205, 43);
}
#list_1{
    color: red;
    text-align: center;
}
#list_2{
    color: rgb(39, 238, 43);
    text-align: center;
}